.ubicacion{
    height: 70vh;
    /* margin: 1rem; */
    font-family: 'Work Sans', sans-serif;
}

h2{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--colorCopy);
}

.dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dir ul{
    list-style: none;
    font-weight: 400;/* font-size: 1rem; */
    font-size: 1rem;
}

.dir li{
    border-bottom: 1px solid var(--colorCopy);
    padding: 1.5rem 0;
    width: 25rem;
}
#item{
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: var(--colorTexto);
}
a:hover{
    color: var(--colorCopy);
}