<div class="ubicacion">
    <h2>ENCUÉNTRANOS</h2>

    <div class="dir">
        <ul>
            <li id="item">
                <svg [cIcon]="icons.cilLocationPin" size="xl" width="25" title="List Icon"></svg>
                <div>
                    <a href="https://www.google.com.mx/maps/place/Escuela+Secundaria+Federal+Prof.+Moises+Saenz/@19.9589217,-102.4390749,421m/data=!3m1!1e3!4m9!1m2!2m1!1s59920,+C.+Prolongaci%C3%B3n+Javier+Mina+1169,+Barrio+Santo,+Santiago+Tangamandapio,+Mich.!3m5!1s0x842ef4cad4aee327:0x8b68b66eb1d58fd!8m2!3d19.959064!4d-102.4381504!16s%2Fg%2F11c5zvlhgx?entry=ttu"
                        target="_blank">
                        Calle: Prolongación Javier Mina s/n
                        <br>
                        Colonia: Barrio Santo
                        <br>
                        Código Postal: 59920
                        <br>
                        Santiago Tangamandapio
                    </a>
                    
                </div>
            </li>

            <li id="item">
                <svg [cIcon]="icons.cilPhone" size="xl" width="25" title="List Icon"></svg>
                <div>
                    Teléfono: 01 383 518 32 13
                </div>
            </li>

            <li id="item">
                <svg [cIcon]="icons.cilAt" size="xl" width="25" title="List Icon"></svg>
                <div>
                    <a href="mailto:secundariafederal_moises-saenz@hotmail.com">Correo: secundariafederal_moises-saenz@hotmail.com</a>
                </div>
            </li>

            <li id="item">
                <svg fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M339,617c0,5.5-4.5,10-10,10h-432c-5.5,0-10-4.5-10-10V185c0-5.5,4.5-10,10-10h432c5.5,0,10,4.5,10,10V617z"></path> <path d="M146.8,313.7c10.3,0,21.3,3.2,21.3,3.2l6.6-39.2c0,0-14-4.8-47.4-4.8c-20.5,0-32.4,7.8-41.1,19.3 c-8.2,10.9-8.5,28.4-8.5,39.7v25.7H51.2v38.3h26.5v133h49.6v-133h39.3l2.9-38.3h-42.2v-29.9C127.3,317.4,136.5,313.7,146.8,313.7z"></path> </g> </g></svg>
                <!-- <svg class="face" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="a" d="M24,42.5V18.57a5.07,5.07,0,0,1,5.08-5.07h0c2.49,0,4.05.74,5.12,2.12"></path><line class="a" x1="19.7" y1="23.29" x2="29.85" y2="23.29"></line><path class="a" d="M7.48,5.5a2,2,0,0,0-2,2h0v33a2,2,0,0,0,2,2H40.52a2,2,0,0,0,2-2h0v-33a2,2,0,0,0-2-2H7.48Z"></path></g></svg> -->
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61551911254227&mibextid=vk8aRt">Facebook: Secundaria Moisés Sáenz Tangamandapio</a>
                    <!-- <span>Facebook: Secundaria Moisés Sáenz Tangamandapio</span> -->
                </div>
            </li>
            
        </ul>
    </div>

</div>
