<div class="parent">

    <div class="info">
        <h2>Taller de Computación</h2>
        <div class="text">
            <h3>¿Qué es el taller de Computación?</h3>
            <p>
                El taller de Computación constituye un espacio que busca proporcionar a los estudiantes conocimientos esenciales
                sobre tecnologías de la información y la comunicación. Los estudiantes tienen la oportunidad de familiarizarse
                con conceptos relacionados con el uso de computadoras, software, aplicaciones y habilidades básicas del uso de las computadoras.
                La enseñanza abarca desde la comprensión de los componentes físicos de la computadora hasta la navegación efectiva en sistemas
                operativos y la utilización de herramientas de trabajo.
            </p>
        </div>
    </div>

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>
                Se oferta para estudiantes que manifiestan un interés genuino por la tecnología y la informática. Se busca la participación de
                estudiantes con la disposición para aprender y explorar conceptos informáticos más avanzados. Además, se valora la capacidad de
                los aspirantes para seguir instrucciones y trabajar de manera colaborativa. El perfil de ingreso también considera la curiosidad
                intelectual de los estudiantes en relación con la resolución de problemas y la creatividad en el ámbito digital. El taller
                de computación busca estudiantes con un entusiasmo por expandir sus conocimientos en el campo de la informática y
                las habilidades digitales.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>
                Se aspira a formar estudiantes con un dominio sólido de las habilidades tecnológicas y la capacidad para aplicar de manera efectiva
                los conocimientos adquiridos en entornos digitales. Al culminar el taller, se espera que los estudiantes hayan desarrollado
                competencias en la utilización eficiente de herramientas informáticas, sistemas operativos y aplicaciones esenciales.
                Además, el perfil de egreso incluye la capacidad de comprender y abordar problemas utilizando enfoques computacionales,
                así como una sólida comprensión de la ética y seguridad en línea. Se espera obtener alumnos destacados como usuarios
                informados y participantes competentes en un mundo cada vez más impulsado por la tecnología.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>