<div class="parent">

    <div class="info">
        <h2>Taller de Estructuras Metálicas</h2>
        <div class="text">
            <h3>¿Qué es el taller de Estructuras Metálicas?</h3>
            <p>
                El taller de Estructuras Metálicas un espacio educativo donde los estudiantes tienen la oportunidad de sumergirse en los
                principios y técnicas fundamentales de la construcción y manipulación de elementos metálicos. Durante este taller, los
                estudiantes exploran conceptos esenciales relacionados con la selección de materiales, técnicas de soldadura, corte y
                conformado de metales, así como la interpretación de planos y diagramas estructurales.
            </p>
        </div>
    </div>

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>
                El taller busca identificar a estudiantes con un interés inicial en la exploración de los principios fundamentales de la
                construcción y manipulación de elementos metálicos. Se valora la curiosidad por comprender los procesos de soldadura,
                corte y conformado de metales, así como la disposición para aprender sobre la interpretación de planos y diagramas
                estructurales. Los aspirantes pueden demostrar responsabilidad por el manejo de herramientas y maquinaria especializada.
                El perfil de ingreso a este taller contempla a estudiantes con una combinación de interés en la ingeniería estructural,
                habilidades prácticas y disposición para aprender en un entorno técnico y de construcción.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>
                El taller aspira a formar estudiantes con habilidades avanzadas en la construcción y manipulación de elementos metálicos.
                Al finalizar el taller, se espera que los estudiantes hayan desarrollado competencias en técnicas avanzadas de soldadura,
                corte y conformado de metales, así como la capacidad para interpretar y ejecutar proyectos basados en planos y diagramas
                estructurales. Además de la destreza en el manejo de herramientas y maquinaria especializada, el perfil de egreso incluye
                la habilidad para realizar ensamblajes y soldaduras de alta calidad, aplicando medidas de seguridad y cumpliendo con
                estándares específicos de la industria. En resumen, el perfil de egreso del taller de estructuras metálicas busca tecnificar
                a los estudiantes con habilidades técnicas y conocimientos avanzados, preparándolos para explorar futuras oportunidades
                en campos relacionados con la construcción y la ingeniería estructural.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>