<div class="parent">

    <!-- <div class="fondo"></div> -->

    <!-- <div class="item2">
        <h2>Taller de Alimentos</h2>
        <div class="text">
            <h3>¿Qué es el taller de Alimentos?</h3>
            <p>Espacio educativo diseñado para enseñar a los estudiantes sobre la preparación y manipulación de alimentos,
                promover la conciencia sobre la importancia de una alimentación saludable y equilibrada,
                y conocer el manejo y manipulación correcta de los utencilios de la cocina.</p>
        </div>
        <div class="text">
            <h3>Perfil de Ingreso</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, repudiandae corporis. Architecto
                doloribus recusandae quae facilis in eius, similique, atque amet temporibus laboriosam neque libero
                incidunt ducimus sed voluptate aliquam.</p>
        </div>
        <div class="text">
            <h3>Perfil de Egreso</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, repudiandae corporis. Architecto
                doloribus recusandae quae facilis in eius, similique, atque amet temporibus laboriosam neque libero
                incidunt ducimus sed voluptate aliquam.</p>
        </div>
    </div> -->

    <div class="info">
        <h2>Taller de Alimentos</h2>
        <div class="text">
            <h3>¿Qué es el taller de Alimentos?</h3>
            <p>El taller de Alimentos es un espacio educativo diseñado para enseñar a los estudiantes sobre la preparación y manipulación de alimentos,
                promover la conciencia sobre la importancia de una alimentación saludable y equilibrada,
                y conocer el manejo y la manipulación correcta de los utencilios de la cocina para trabajar siempre de manera segura.</p>
        </div>
    </div>

    <!-- <div class="info2">
        <div class="text">
            <h3>¿Qué es el taller de Alimentos?</h3>
            <p>El taller de Alimentos es un espacio educativo diseñado para enseñar a los estudiantes sobre la preparación y manipulación de alimentos,
                promover la conciencia sobre la importancia de una alimentación saludable y equilibrada,
                y conocer el manejo y la manipulación correcta de los utencilios de la cocina para trabajar siempre de manera segura.</p>
        </div>
    </div> -->

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>Se búscan a estudiantes interesados y motivados en adquirir conocimientos prácticos y teóricos relacionados con la
                cocina, la nutrición y la preparación de alimentos. Se espera que demuestren un grado de madurez y
                responsabilidad en términos de seguridad e higiene alimentaria; la participación, la disposición para aprender en equipo
                y el respeto son aspectos valorados en los aspirantes. En resumen, el perfil de ingreso busca crear
                un ambiente educativo en el cual los estudiantes puedan beneficiarse plenamente de las experiencias de aprendizaje prácticas
                y enriquecedoras ofrecidas por el taller de alimentos.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>Se aspira a formar estudiantes con habilidades sólidas en la preparación de alimentos, conocimientos nutricionales y conciencia
                sobre prácticas culinarias seguras e higiénicas. Al concluir el taller, se espera que los estudiantes hayan desarrollado destrezas
                prácticas en la cocina, incluyendo técnicas de preparación, cocción y presentación de alimentos. Además, se busca que adquieran
                conocimientos fundamentales sobre la importancia de una dieta equilibrada, la procedencia de los alimentos y la toma de decisiones
                informadas en cuanto a la nutrición. En resumen, el perfil de egreso busca empoderar a los estudiantes con habilidades y conocimientos prácticos que les permitan tomar decisiones informadas y adoptar un enfoque consciente hacia la alimentación y la cocina en su vida cotidiana.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>