<div class="contenedor">

    <section class="atletismo">
        <div class="info">
            <h2>EQUIPO DE ATELTISMO</h2>
            <p>El pasado viernes 12 de enero un equipo de atletas estudiantes de nuestra escuela asistió a la unidad deportiva “El Chamizal”
                para participar en las COMPETENCIAS DE ATLETISMO de nuestra zona.
                Nuestros atletas resultaron merecedores de varios primeros lugares en diferentes disciplinas como:
                carreras de relevos, velocidad, lanzamiento de bala, salto, entre otras.
                Agradecemos mucho el trabajo, esfuerzo y disciplina que fomentan nuestros maestros de educación física,
                el maestro Ismael Sànchez y Alvarez Adrian porque detrás de nuestros campeones están ustedes. ¡Gracias!</p>
        </div>
        <div class="picture"></div>
    </section>

    <section class="escolta">
        <div class="pic"></div>
        <div class="edb">
            <h2>Escolta de Bandera</h2>
            <p>
                El día jueves 15 de febrero del 2024 se llevó a cabo el CONCURSO DE ESCOLTAS de la zona 027 en
                nuestra escuela secundaria.<br>Contamos con la párticipación de 10 escuelas de los municipios de
                Tarecuato, Plaza del Limón, Chavinda, Ixtlán y Jacona. Agradecemos y felicitamos a todos los y las
                participantes que tuvierona  bien representar a cada una de sus honorables escuelas. <br>
                Es grato decir que la escolta de nuestra institución obtuvo el 1er lugar. Nuestro reconocimiento y
                felicitaciónesa este grupo de señoritas, así como a sus maestros y todos los que hicieron pósible este gran logro.

            </p>
        </div>
        
    </section>

</div>