<div class="contenedor">

    <div class="info">
        <h2>EQUIPO DE ATELTISMO</h2>
        <p>El pasado viernes 12 de enero un equipo de atletas estudiantes de nuestra escuela asistió a la unidad deportiva “El Chamizal”
            para participar en las COMPETENCIAS DE ATLETISMO de nuestra zona.
            Nuestros atletas resultaron merecedores de varios primeros lugares en diferentes disciplinas como:
            carreras de relevos, velocidad, lanzamiento de bala, salto, entre otras.
            Agradecemos mucho el trabajo, esfuerzo y disciplina que fomentan nuestros maestros de educación física,
            el maestro Ismael Sànchez y Alvarez Adrian porque detrás de nuestros campeones están ustedes. ¡Gracias!</p>
    </div>

    <div class="picture">

    </div>

</div>