<div class="layout">    

    <div class="container1">
        
        <div class="cont1">            
            <h2>Nuestros Valores</h2>
        </div>

        <div class="cont2 div">
            <h3>MISIÓN</h3>
            <p>Cumplirá con las tres características fundamentales; la formativa, propedéutica y la incorporación a la sociedad y a la productividad
                con la educación popular que queremos tiene como grandes propósitos la formación de comunidades y pueblos conscientes, es decir,
                ajenos a la enajenación y la alienación; Contribuir a la eficacia de la administración al desempeñar la función con responsabilidad
                basada en la comunicación, respeto, participación colectiva y capacitación permanente del personal.
            </p>
        </div>
        <div class="cont3 div">
            <h3>VISIÓN</h3>
            <p>Ser la Escuela Secundaria con educación popular en la zona, además de satisfacer las necesidades de desarrollo de cada una de las
                potencialidades de los educandos; que sean capaces de reconocer los elementos de la realidad objetiva, los nombres de los objetos,
                de las plantas, animales, fenómenos y hechos, sus significados y procesos; con facultades cada vez más desplegadas para entender
                la vida y el funcionamiento del universo, que satisfaga las expectativas administrativas y pedagógicas de su personal en funciones
                docentes, y directivas con el fin de forjar seres humanos plenos.
            </p>
        </div>

    </div>

    <!-- Esta sección tendra una pequeña información de las demás axtividades o logoros que hay en la escuela,
            por ejemplo, futbol, boleibol, banda de guerra, escolta, danza; que no forman parte de las clases o
            talleres. -->
    <!-- <div class="container2">
        <div class="tit">
            <h2>Nuestros Logros</h2>
        </div>
    </div> -->

    <div class="container3">
        <div class="titulo">
            <h2>Nuestra Historia</h2>
        </div>
        <div class="historia">
            <h3>Breve Reseña de Nuestra Institución</h3>
            <p>La Escuela Secundaria tuvo su origen en la década de los 70s (setentas) y las primeras gestiones fueron en 1972, hechas por los profesores José María Campos Ramírez y J. Jesús Campos Ramírez quienes plantearon a las autoridades educativas la necesidad de una Escuela Secundaria para que nuestros niños y jóvenes tuvieran la oportunidad de seguir su educación. La primera gestión fue lograr tener una plática con el C. Profr. Neftalí García Viveros a quien le plantearon esa necesidad. El Profr. Neftalí García era el supervisor de escuelas secundarias y con interés y alegría nos animó para seguir nuestro sueño; nos informó que el primer requisito era poner a funcionar una Escuela Secundaria por cooperación y enseguida se iría resolviendo lo referente a su edificio.
                La Escuela Secundaria inició sus funciones en el año 1974 con el nombre “Melchor Ocampo” siendo el director el Profr. José María Campos R. y el subdirector J. Jesús Campos R. iniciando en el edificio del Colegio Victoria y en el diezmo (hoy casa de la cristiandad) tres años esta Secundaria por cooperación salió adelante y entregó a Santiago Tangamandapio una generación de 149 jóvenes cuyos nombres están grabados en la actual Secundaria.
                En el año de 1977 el sueño se hizo realidad ya que el gobierno concedió la clave para que la Secundaria por cooperación se convirtiera en Secundaria Federal, cuyo director fue el Profr. Josué Olivares, iniciando en la Esc. Presidente Lázaro Cárdenas por dos ciclos escolares. En 1978 se cambian al edificio actual, quedando los grupos sin aulas, a los cuales se le adaptaron techos o estaban a la intemperie, el siguiente ciclo ya todos tenían aulas. Siendo presidente Ernesto González González.
                Años después, siendo el director el Profr. Oswaldo García se le otorgó el nombre de Esc. Sec. Fed. Profr. “Moisés Sáenz”.
            </p>
        </div>
    </div>

</div>
<app-footer></app-footer>