<div class="talleres">
    <h2>Nuestros Talleres</h2>
    <div class="container">
        
        <div class="card" routerLink="Alimentos">
            <div class="card-image i1">
                
            </div>
            <div class="nom-taller"> Alimentos </div>
            <div class="descripcion"> Aprende la mágia de cocinar
                <div class="tutor"> Profra: <span class="name">Margarita Vega López</span></div>
            </div>
        </div>

       <div class="card" routerLink="Computacion">
            <div class="card-image i2"></div>
            <div class="nom-taller"> Computación </div>
            <div class="descripcion"> 
                <div class="tutor"> Profra: <span class="name">Julia Silvia Olivares Olivares</span></div>
            </div>
        </div>

        <div class="card" routerLink="CorteConfeccion">
            <div class="card-image i3"></div>
            <div class="nom-taller"> Corte y Confección </div>
            <div class="descripcion"> 
                <div class="tutor"> Profra: <span class="name">Carina Oregel Mendoza</span></div>
            </div>
        </div>

        <div class="card" routerLink="Dibujo">
            <div class="card-image i4"></div>
            <div class="nom-taller"> Dibujo Técnico </div>
            <div class="descripcion"> 
                <div class="tutor"> Profr: <span class="name">Guillermo Rodríguez Alejandre</span></div>
            </div>
        </div>

        <div class="card" routerLink="Electricidad">
            <div class="card-image i5"></div>
            <div class="nom-taller"> Electricidad </div>
            <div class="descripcion"> 
                <div class="tutor"> Profr: <span class="name">Juan Carlos Romero Montejano</span></div>
            </div>
        </div>

        <div class="card" routerLink="Estructuras">
            <div class="card-image i6"></div>
            <div class="nom-taller"> Estructuras Metálicas </div>
            <div class="descripcion"> 
                <div class="tutor"> Profr: <span class="name">Fernando Hernández Ochoa</span></div>
            </div>
        </div>
    </div>
</div>