<div class="talleres">
    <h2>Nuestros Talleres</h2>
    <div class="container">
        
        <div class="card" routerLink="Alimentos">
            <div class="card-image i1">
                
            </div>
            <div class="nom-taller"> Alimentos </div>
            <div class="descripcion"> Aprende la mágia de cocinar
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>

       <div class="card" routerLink="Computacion">
            <div class="card-image i2"></div>
            <div class="nom-taller"> Computación </div>
            <div class="descripcion"> A heading that must span over two lines
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>

        <div class="card" routerLink="CorteConfeccion">
            <div class="card-image i3"></div>
            <div class="nom-taller"> Corte y Confección </div>
            <div class="descripcion"> A heading that must span over two lines
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>

        <div class="card" routerLink="Dibujo">
            <div class="card-image i4"></div>
            <div class="nom-taller"> Dibujo Técnico </div>
            <div class="descripcion"> A heading that must span over two lines
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>

        <div class="card" routerLink="Electricidad">
            <div class="card-image i5"></div>
            <div class="nom-taller"> Electricidad </div>
            <div class="descripcion"> A heading that must span over two lines
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>

        <div class="card" routerLink="Estructuras">
            <div class="card-image i6"></div>
            <div class="nom-taller"> Estructuras Metálicas </div>
            <div class="descripcion"> A heading that must span over two lines
                <div class="tutor"> Profesor: <span class="name">Abi</span> 4 days ago</div>
            </div>
        </div>
    </div>
</div>