<div class="parent">

    <div class="info">
        <h2>Taller de Dibujo Técnico</h2>
        <div class="text">
            <h3>¿Qué es el taller de Dibujo Técnico?</h3>
            <p>
                El taller de Dibujo Técnico es un espacio educativo fundamental para introducir a los estudiantes en los principios y
                técnicas esenciales del dibujo aplicado a la resolución de problemas técnicos y constructivos. Los estudiantes tienen
                la oportunidad de desarrollar habilidades específicas relacionadas con la representación gráfica de objetos tridimensionales,
                planos y proyecciones, utilizando herramientas como reglas, escuadras y compases.
            </p>
        </div>
    </div>

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>
                Se buscan estudiantes con un interés en la representación gráfica y la resolución de problemas técnicos. Se valora la
                disposición para explorar conceptos geométricos, así como la habilidad para trabajar con
                precisión usando herramientas de dibujo tradicionales. Los aspirantes pueden demostrar paciencia, atención al detalle
                y una inclinación a aplicar principios matemáticos. Se busca una mentalidad analítica y la capacidad
                de interpretar y comunicar visualmente ideas en un contexto técnico. El perfil de ingreso contempla a
                estudiantes con una combinación de habilidades visuales, interés en el pensamiento analítico y curiosidad por explorar
                el dibujo aplicado a problemas técnicos.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>
                El taller aspira a formar estudiantes con habilidades avanzadas en la representación gráfica aplicada a problemas técnicos
                y constructivos. Se espera que los estudiantes hayan desarrollado destrezas en la creación de planos, vistas ortogonales
                y perspectivas, así como la capacidad para interpretar y comunicar de manera efectiva ideas complejas.
                Además de la competencia en el uso de herramientas tradicionales de dibujo, el perfil de egreso incluye la habilidad para
                aplicar principios geométricos y matemáticos en la resolución de problemas visuales. Se espera que demuestren
                una comprensión de la simbología técnica y una habilidad para abordar proyectos de dibujo técnico con precisión y
                creatividad. El perfil de egreso busca formar estudiantes con habilidades que son esenciales en disciplinas técnicas y
                creativas, preparándolos para enfrentar desafíos visualmente complejos en campos como la arquitectura, ingeniería y diseño.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>