<div class="parent">

    <div class="info">
        <h2>Taller de Electricidad</h2>
        <div class="text">
            <h3>¿Qué es el taller de Electricidad?</h3>
            <p>
                El taller de Electricidad es un espacio educativo donde los estudiantes tienen la oportunidad de adquirir
                conocimientos prácticos y habilidades técnicas fundamentales. Los estudiantes exploran
                conceptos básicos de circuitos eléctricos, resistencia, voltaje, corriente y el funcionamiento de dispositivos eléctricos.
                Se familiarizan con el uso seguro y adecuado de herramientas y equipos eléctricos.
                También ofrece experiencias prácticas, permitiéndoles realizar montajes eléctricos simples,
                diagnosticar problemas y aprender a realizar conexiones eléctricas básicas. 
            </p>
        </div>
    </div>

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>
                El taller busca a estudiantes con un interés en la exploración de los principios fundamentales de la electricidad y
                la disposición para aprender sobre sistemas eléctricos básicos. Se valora la curiosidad por entender cómo funcionan los
                circuitos eléctricos, así como la responsabilidad y atención al detalle. Los aspirantes pueden demostrar una aptitud para
                el pensamiento lógico y analítico, ya que se implica la resolución de problemas relacionados con circuitos y conexiones
                eléctricas. La capacidad para seguir procedimientos de seguridad y trabajar en equipo son aspectos valiosos. El perfil
                contempla a estudiantes con un interés en la electricidad, habilidades de atención al detalle y disposición para aprender
                en un entorno práctico y técnico.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>
                El taller aspira a formar estudiantes con una comprensión sólida de los fundamentos eléctricos y habilidades técnicas
                esenciales. Al finalizar, se espera que los estudiantes hayan desarrollado competencias en la realización de conexiones
                eléctricas, diagnóstico de problemas en circuitos y comprensión de la ley de Ohm. Además de la destreza en el manejo de
                herramientas y equipos eléctricos, el perfil incluye la capacidad para interpretar y crear diagramas eléctricos, así como
                el conocimiento práctico de las normas de seguridad en entornos eléctricos. En resumen, el perfil de egreso busca empoderar a los estudiantes con habilidades técnicas y conocimientos
                fundamentales, preparándolos para explorar futuras oportunidades en campos relacionados con la ingeniería eléctrica y la
                tecnología.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>