<div id="footer" class="footer">

    <div class="parent">

        <div class="div1">
            <app-contacto></app-contacto>
        </div>

        <div class="div2">
             <!-- <app-redireccionamiento></app-redireccionamiento> -->
            
             <img src="../../assets/img/icon.png" alt="">
        </div>

        <div class="div3">
           <app-ubicacion></app-ubicacion>
        </div>
        <!-- <div class="div4 row">
            <app-contacto></app-contacto>
        </div>
        <div class="div5 row">
            <app-contacto></app-contacto>
        </div> -->
    </div>

    <div class="copy">
        <span>Todos los Derechos Reservados @Copyright 20203-2024</span>
    </div>
    
</div>