<div class="parent">

    <div class="encabezado">

        <div class="saludo">
            <!-- <h2>Bienvenido {{ alumno }}</h2> -->
            <h2>Bienvenido</h2>
        </div>

        <div class="info">
            <label for="alumno">Alumno: </label>
            <label for="grado">Grado: </label>
            <label for="grupo">Grupo: </label>
            <label for="taller">Taller: </label>
        </div>

    </div>

    <div class="grid">

        <!-- <div *ngForm="let dato of materias" class="card">
            <div class="image-container">
                <img src="../../assets/img/computacion.jpg" alt="Imagen de la tarjeta">
            </div>
            <div class="card-content">
                <h2>{{item.nombre_materia}}</h2>
                <p>Impartido por: {{ dato.n}}</p>
            </div>
        </div> -->

        <div class="card">
            <div class="image-container">
                <img src="../../assets/img/alimentos.jpg" alt="Imagen de la tarjeta">
            </div>
            <div class="card-content">
                <h2>NOMBRE MATERIA</h2>
                <p>Impartida por:</p>
                <p class="grado">Grado:</p>
            </div>
        </div>



    </div>

</div>
<app-footer></app-footer>