<div class="parent">

    <div class="encabezado">

        <div class="saludo">
            <!-- <h2>Bienvenido {{ alumno }}</h2> -->
            <h2>Bienvenido {{alumno.nombre}}</h2>
        </div>

        <div class="info" *ngIf="alumno">
            <label for="alumno">Alumno: {{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</label>
            <label for="grado">Grado: {{alumno.grado}}</label>
            <label for="grupo">Grupo: {{alumno.grupo}}</label>
            <label for="taller">Taller: {{alumno.taller}}</label>
        </div>

    </div>

    <div class="grid">

        <!-- <div *ngForm="let dato of materias" class="card">
            <div class="image-container">
                <img src="../../assets/img/computacion.jpg" alt="Imagen de la tarjeta">
            </div>
            <div class="card-content">
                <h2>{{item.nombre_materia}}</h2>
                <p>Impartido por: {{ dato.n}}</p>
            </div>
        </div> -->

        <div class="card" *ngFor="let materia of materias">
            <div class="image-container">
                <img src="../../assets/img/alimentos.jpg" alt="Imagen de la tarjeta">
            </div>
            <div class="card-content">
                <h2>{{materia.nombre_materia}}</h2>
                <p>{{materia.docente}}</p>
                <p class="grado">Grado: {{materia.grado}}</p>
            </div>

            <!-- <div class="card-content">
                <h2>NOMBRE MATERIA: {{materia.nombre_materia}}</h2>
                <p>Impartida por: {{materia.docente}}</p>
                <p class="grado">Grado: {{materia.grado}}</p>
            </div> -->
        </div>



    </div>

</div>
<app-footer></app-footer>