.parent {
    width: 100%;
    /* width: 100vw; */
    height: auto;
    /* height: 100vh; */
    background-image: url(../../assets/img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 4rem 0 4rem 0;
    font-family: 'Work Sans', sans-serif;
}

.encabezado{
    width: 95%;
    background-color: var(--colorCard);
    /* box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.5); */
    box-shadow:  15px 12px 30px var(--sombra),
             -15px -12px 30px #ffffff;
    margin: 1rem 2rem 4rem 2rem;
    padding: 2rem 3rem;
}

.saludo{
    margin-bottom: 1rem;
}

.info{
    /* background-color: rgb(255, 255, 255); */
    /* background-color: var(--colorCard); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.5); */
    /* margin: 1rem 2rem 2rem 2rem; */
    /* padding: 1rem; */
    /* border-radius: 4px; */
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 8px;
    font-weight: 600;
}

.grid{
    width: 90vw;
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 3rem 0;
    /* justify-items: center; */
    /* align-items: center; */
    /* padding: 2rem 1rem 2rem 1rem; */
}
.card {
    /* Alinea los elementos horizontalmente */
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    /* padding: 15px; */
    margin: 10px;
    background-color: var(--colorCard);
    /* box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.5); */
    box-shadow:  15px 12px 30px var(--sombra),
             -15px -12px 30px #ffffff;
    column-gap: 1rem;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
    box-shadow:  15px 12px 30px var(--sombraHover),
             -15px -12px 30px #ffffff;
}

.image-container {
    /* La imagen ocupa 1 parte del espacio disponible */
    /* flex: 1; */
    width: 12rem;
    height: 10rem;
    /* Espacio entre la imagen y el contenido */
    /* padding: 10px 9px; */
    /* height: 9rem; */

    /* background-image: url(../../assets/img/computacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.image-container img {
    /* max-width: 100%; */
    width: 10.5rem;
    height: 10rem;
}

/* .card-content { */
    /* El contenido ocupa 2 partes del espacio disponible */
    /* flex: 2; */
/* } */

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--colorCopy);
}

p {
    font-weight: 400;
    color: var(--colorTexto);
}

.grado{
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--colorTexto);
}