<div class="parent">

    <div class="fondo"></div>

    <div class="item2">
        <h2>Taller de Alimentos</h2>
        <div class="text">
            <h3>¿Qué es el taller de Alimentos?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, repudiandae corporis. Architecto
                doloribus recusandae quae facilis in eius, similique, atque amet temporibus laboriosam neque libero
                incidunt ducimus sed voluptate aliquam.</p>
        </div>
        <div class="text">
            <h3>Perfil de Ingreso</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, repudiandae corporis. Architecto
                doloribus recusandae quae facilis in eius, similique, atque amet temporibus laboriosam neque libero
                incidunt ducimus sed voluptate aliquam.</p>
        </div>
        <div class="text">
            <h3>Perfil de Egreso</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, repudiandae corporis. Architecto
                doloribus recusandae quae facilis in eius, similique, atque amet temporibus laboriosam neque libero
                incidunt ducimus sed voluptate aliquam.</p>
        </div>
    </div>

</div>
<app-footer></app-footer>