<div class="parent">

    <div class="info">
        <h2>Taller de Corte y Confección</h2>
        <div class="text">
            <h3>¿Qué es el taller de Corte y Confección?</h3>
            <p>
                El taller de Corte y Confección es un espacio educativo dedicado a la enseñanza de habilidades prácticas relacionadas con
                la industria de la moda y la confección. Durante este taller, los estudiantes tienen la oportunidad de aprender técnicas
                esenciales de corte, costura y diseño de prendas de vestir. El contenido del taller abarca desde el manejo adecuado de
                patrones hasta la utilización de máquinas de coser y otros instrumentos de costura.
            </p>
        </div>
    </div>

    <div class="ingreso">
        <div class="picture"></div>
        <div class="text2">
            <h3>Perfil de Ingreso</h3>
            <p>
                Se busca identificar a estudiantes con una inclinación hacia la creatividad, el diseño y la habilidad manual.
                Se valora la curiosidad por la moda y el interés en aprender las habilidades técnicas asociadas con el
                corte y la confección de prendas. Asimismo, se busca estudiantes con paciencia, precisión y atención al detalle,
                cualidades fundamentales en el proceso de diseño y costura. El trabajar en equipo, compartir ideas y expresar la
                creatividad son aspectos también apreciados. El perfil de ingreso al taller contempla a estudiantes
                con una combinación de interés artístico, destrezas manuales y apertura a explorar el mundo de la moda a través de
                la confección de prendas.
            </p>
        </div>        
    </div>

    <div class="egreso">
        <div class="text3">
            <h3>Perfil de Egreso</h3>
            <p>
                Se aspira a formar estudiantes con un conjunto integral de habilidades en el arte de la confección y el diseño de moda. Al finalizar el taller, se espera que los estudiantes hayan desarrollado destrezas avanzadas en la interpretación de patrones, corte preciso de tejidos y confección de prendas de vestir. Además, se busca que hayan cultivado habilidades de resolución de problemas y trabajo en equipo, permitiéndoles enfrentar desafíos en el campo de la confección. En resumen, el perfil de egreso del taller de corte y confección busca empoderar a los estudiantes como creadores de moda competentes y expresivos, preparándolos para explorar oportunidades futuras en el emocionante mundo de la industria textil y del diseño.
            </p>
        </div>
        <div class="pic"></div>
    </div>

</div>
<app-footer></app-footer>